.table-tit .btn_excel {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	font-weight: normal;
}

.Wdate,
.icon_heng,
.beautify_select,
.input_textbox,
.btn_search,
.btn_reload {
	float: left;
}

.search-box .icon_heng {
	display: block;
	height: 34px;
	line-height: 34px;
	/*margin: 0 5px;*/
	margin-right: 5px;
}

.beautify_select {
	margin-right: 5px;
}

.business,
.customer_service {
	margin-left: 4px;
}

.input_textbox {
	margin-right: 8px;
	margin-left: 4px;
	width: 250px;
}

.btn_search {
	margin-left: 4px;
}