/*基本信息部分*/
.tab-table tr td .salesman input {
	width: 280px;
	height: 28px;
	line-height: 28px;
	padding: 2px 4px;
	border: 1px solid #bbb;
	font-size: 13px;
}
.tab-table tr td .jinyong {
	margin-bottom: 4px;
}
.tab-table tr td .jinyong input {
	width: 14px;
	display: inline-block;
}
.table-tit .btn_add {
	right: 120px;
}
.salesman_name input {
	width: 280px;
	height: 28px;
	line-height: 28px;
	padding: 2px 4px;
	border: 1px solid #bbb;
	font-size: 13px;
}
.btn_jinyong {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	font-weight: normal;
}