.Wdate,
.Wdatetime {
	width: 170px;
	border:#aaa 1px solid;
	height:24px;
	background:#fff url(rili.png) no-repeat 155px;
	padding: 5px;
}
.Wdate::-ms-clear{display:none;}

.Wdate{
	width: 120px;
	background-position: 105px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}